
.container {
    background-color: skyblue;
    width: fit-content;
    margin: auto;
    font-family: sans-serif;
    border: solid 8px slateblue;
    padding: 8px 12px;
    border-radius: 5px;
}

.container h1{
    color: slateblue;
   
}

#contScore {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    background-color: slateblue;
    
}

#contScore p {
    font-size: 54px;
    margin-top: 8px;
    margin-bottom: 8px;
}

.contBtn {
    display: flex;
    justify-content: space-around;
    

}

button {
    font-size: 18px;
    background-color: slateblue;
    border: none;
    box-shadow: 10px red;
    padding: 8px 14px;
    margin-bottom: 12px;
    margin-top: 8px;
    border-radius: 4px;
    color: white;
}