
.container {
    background-color: skyblue;
    width: fit-content;
    margin: auto;
    font-family: "Helvetica", sans-serif;
    border: solid 8px slateblue;
    padding: 8px 12px;
    border-radius: 5px;
}

.contBtn {
    display: flex;
    justify-content: space-around;
    

}

button {
    font-size: 18px;
    background-color: slateblue;
    border: none;
    box-shadow: 10px red;
    padding: 8px 14px;
    margin-bottom: 12px;
    margin-top: 8px;
    border-radius: 4px;
    color: white;
}