
.container {
    background-color: skyblue;
    width: fit-content;
    margin: auto;
    font-family: "Helvetica", sans-serif;
    border: solid 8px slateblue;
    padding: 8px 12px;
    border-radius: 5px;
}